.main{
    background-color: rgb(140, 141, 141);
    display: flex;
    
}
.main button{
    margin: 10px;
    background-color: rgb(255, 253, 250);
    border: 0px;
    padding: 5px 7px;
    border-radius: 3px;

}
.main button:hover{
    background-color: rgb(182, 182, 182);
}
.main h1{
   border-bottom: 5px solid rgb(20, 20, 20);
   transition: all 0.1s linear;
   padding: 0px 5px;
   border-radius: 2px;
   background-image:linear-gradient(to right ,rgb(97, 97, 97),transparent);
}
.main h1:hover{
    background-color: rgb(80, 79, 79);
    color: rgb(235, 233, 233);
    border-bottom: 5px solid rgb(231, 86, 86);
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(235, 233, 233);
}
.active{
    color: rgb(56, 7, 192);
    
}
@media  only screen and (max-width:650px) {
    .main h1{
        font-size: 15px;
    }
}
@media  only screen and (max-width:650px) {
    .main button{
        font-size: 10px;
        padding: 2px 4px;
    }
}